
.MetaTitle{
    color: #014040;
    font: Montessarat;
    font-size: 32px;
}


.metamaskconnect {
    width: 180px;
    height: 52px;
    font-family: 'Montessarat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 2px solid #1ab075;
    margin-inline: 20px;
   
    }
  
  .metamaskconnect:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .metamaskdisconnect {
    width: 180px;
    height: 52px;
    font-family: 'Montessarat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 2px solid #f44336;
    margin-inline: 20px;
    }
  
  .metamaskdisconnect:hover {
    background-color: #f56156;
    box-shadow: 0px 15px 20px rgba(245, 97, 86, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .displayAccount{
      font-size: 20px;
      font-family: "Montessarat", sans-serif;
      font-weight: 600;
      color: #014040
  }

  .metaimg{
      width: 16vw;
      height: auto;
      

  }

  .metacontainer{
    width: 70%;
    margin: 5%;
    margin-inline: 5%;
    background: white;
    padding: 5%;
    padding-inline: 10%;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 50px;
    filter: drop-shadow(2px 2px 4px #b7b7b7);
}